
# section [paramètres] obligatoire
# paramètres 'dossier' et 'catalogue' obligatoires
# utiliser des chemins absolus

[paramètres]
# dossier d'enregistrement
dossier = /home/nicolas/podcasts/   

# catalogue regroupant les noms des fichiers téléchargés :
catalogue = /home/nicolas/podcasts/catalogue.txt






# une section par émission
# paramètre 'url' obligatoire
# utiliser les scripts rss_culture.py ou rss_inter.py 
# pour récupérer les liens des fichiers xml
#
# paramètres facultatifs pour la conversion mp3
# bitrate  = 64 # convertir le fichier en 64 kbits
# channels = 1  # convertir le fichier en mono
#
# paramètres facultatifs pour le taggage
# artist  
# album
# genre


# Exemple pour l'émission "La Marche de l'histoire" 
# qui produira le fichier :
# MARCHE-20151203-Soudan, l'exode dans fin.mp3 
[MARCHE]
url = http://radiofrance-podcast.net/podcast09/rss_11739.xml


# Exemple pour l'émission "A voix nue"
# qui produira le fichier : 
# A voix nue-20151202-François de Closets (3_5).mp3
# convertit en 64 kbits mono
[A voix nue]
url =  http://radiofrance-podcast.net/podcast09/rss_10351.xml
bitrate = 64
channels = 1

# Exemple pour l'émission "Sur les docks"
# qui produira un fichier du type:
# DOCKS-20151203-Les mots de ma mère.mp3
# tagué
[DOCKS]
url = http://radiofrance-podcast.net/podcast09/rss_10177.xml
artist = Sur les docks 
album = Sur les docks
genre = Radio


